body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
	color: black;
	text-decoration: none;
	margin:0;}

a {
	text-decoration: none;
}

p {
	font-size:14px;
}

/* Navigation Bar */
nav {
	padding:50px 0;
	background-color: black;
	color:white;
	width:100%;
	text-align:center;
}

nav.top h1 {
	padding:40px 0 90px 0;
}

nav.top ul {
	margin:0 auto;
	padding:0;
}

nav.top ul li {
	display: inline;
	padding:0 25px;
}

nav.top ul li a {
	color:white;
	font-size:.75em;
	text-transform:uppercase;
}

/* Greeting */

div.greeting {
	position: relative;
	height:362.9px;
	text-align:center;
	line-height:362.9px;
	font-size: 2em;
}


/* Home Page */
div.portfolio {
	width:927px;
	height:927px;
	margin:0 auto;
	min-height:500px;
	padding-bottom:50px;
	;
}

div.img1, div.img2, div.img3 {
	background-color:aqua;
	width:31.66%;
	height:30%;
	display:inline-block;
	margin-bottom:15px;
}

div.img2  {
	margin-right:1.66%;
}

div.img3 {
	margin-left: 1.66%;
}

/* Contact */

/* Portfolio */

/* About */
div.about_me {
	height: 400px;
	padding-bottom:50px;
	border-bottom:1px solid #ddd;
	max-width:927px;
	margin:0 auto;
}

div#tien_photo, div#tien_about, div#map {
	width:33.33%;
	float:left;
	height:100%;
}

div#tien_about {
	text-align:center;
}

div#tien_about p {
	padding:10px 30px 10px 30px;
}

div#tien_photo {
	background-image: url("./assets/tien.jpg");
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-color:black;
}

/* Blog */

/* Footer */
div.line {
	max-width:927px;
	height:1px;
	background-color:#ddd;
}
footer {
	padding:40px 0;
	text-align: center;
}

ul.footer-elements {
	display:inline-block;
	margin:0 auto;
}

ul.footer-elements li {
	float:left;
	list-style-type: none;
	padding:0 30px;
}