body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
	color: black;
	text-decoration: none;
	background-color: antiquewhite;
	margin:0;
}

a {
	text-decoration: none;
}

p {
	font-size:14px;
}

/* Navigation Bar */
nav {
	padding:50px 0;
	background-color: black;
	color:antiquewhite;
	width:100%;
	text-align:center;
}

nav.top h1 {
	padding:40px 0 90px 0;
}

nav.top ul {
	margin:0 auto;
}

nav.top ul li {
	display: inline;
	padding:0 25px;
}

nav.top ul li a {
	color:antiquewhite;
	font-size:.75em;
	text-transform:uppercase;
}

/* Greeting */

div.greeting {
	position: relative;
	font-size:2em;
	margin: 0 auto;
	height:362.9px;
	width:600px;
	vertical-align: middle;
	text-align:center;

}


/* Home Page */
div.portfolio {
	width:800px;
	margin:0 auto;
}

div.img1 {
	background-color:aqua;
	width:200px;
	height:200px;
	display:inline-block;
	float:left;
}

/* Contact */

/* Portfolio */


/* About */
div#tien_photo, div#tien_about, div#map {
	width:33.33%;
	height:600px;
	float:left;
	margin-top:50px;
}

div#tien_about {
	text-align:center;
}

div#tien_about p {
	padding:10px 30px 10px 30px;
}

div#tien_photo {
	background-image: url("./assets/tien.jpg");
	background-size:100%;
}

/* Blog */

/* Footer */
footer {
	background-color:black;
	color:antiquewhite;
	float:left;
	width:100%;
}